body {
  background: black;
  transition: background-color 0.5s ease;
  font-family: 'Dosis', sans-serif;
  font-weight: 200;
}

section {
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 3px black;
}

#clock {
  position: relative;
  margin: 10% auto 0;
  font-size: 170px;
  width: 525px;
  border-bottom: 5px solid #fff
}

button {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
  padding: 18px;
  background: transparent;
  font-size: 24px;
  margin: 24px;
  color: #fff;
  border: 2px solid #fff;
  outline: none;
  transition: all .3s ease-in-out;
}

button:hover {
  background: #fff;
  color: black;
  cursor: pointer;
}